header {
    margin: 0 auto;
    text-align: center;
    
}
header h1 {
    margin: 0;
    padding-top: 300px;
    color: white;
    font-size: 4rem;

}

header p {
    color: white;
    font-size: 2rem;
    background-color: black;
    width: 40%;
    margin: 0 auto;
    border-radius: 20px;
    padding: 2px 0;
    margin-bottom: 30px;
}

header a {
    cursor: pointer;
    font-weight: 700;
    text-decoration: none;
    color: white;
    background-color: #1d809f;
    padding: 1.25rem 2.5rem;
    border-radius: .25rem;
    display: inline-block;
}