.services {
  background-color: #1d809f;
  padding-top: 120px;
  padding-bottom: 120px;
  text-align: center;
}

.services h3 {
  font-size: 16px;
  text-transform: uppercase;
  color: rgb(236, 184, 7);
  margin: 0;
  padding: 0;
}

.services h2 {
  font-size: 48px;
  color: white;
  margin-bottom: 48px;
  margin-top: 0;
}

.services > .row {
  display: flex;
  justify-content: space-around;
}
.services > .row span {
  background-color: white;
  border-radius: 50%;
  width: 112px;
  height: 112px;
  display: inline-block;
  color: #1d809f;
  font-size: 36px;
  line-height: 120px;
}

.services > .row h4 {
  margin-bottom: 8px;
  font-weight: 500;
  line-height: 1.2;
  color: white;
}

.services > .row p {
  color: white;
}
